.search-container {
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: pink;
    margin: 10px;
    max-width: 380px;
}

.search-button {
    display: block;
    text-align: end;
}

.introduction-text {
    text-align: center;
}

h2 {
    font-size: 20px;
}

.error {
    composes: error from "../../constants/Constants.erros.module.css";
}

.error-radio {
    composes: error from "../../constants/Constants.erros.module.css";
    margin-left: -10px;
}

.error-input-field {
    composes: error from "../../constants/Constants.erros.module.css";
    margin-left: -20px;
}



@media screen and (min-width: 768px) {
    h2 {
        font-size: 30px;
    }
}