.search-container {
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: pink;
    margin: 10px;
    max-width: 380px;
}

.search-bar {
    margin: 10px 0 10px -10px;
    width: 330px;
    height: 30px;
}

.search-button {
    display: block;
    text-align: end;
}

.introduction-text {
    text-align: center;
}

input[type="radio"] {
    margin-right: 10px;
}

h2 {
    font-size: 20px;
}

.radio-button-title {
    font-size: 15px;
}

.error {
    composes: error from "../../constants/Constants.erros.module.css";
}

@media screen and (min-width: 768px) {
    h2 {
        font-size: 30px;
    }
}