

/*.ul {*/
/*    list-style-type: none;*/
/*}*/

/*.navigation-link {*/
/*    text-decoration: none;*/
/*    color: hsl(351, 16%, 18%);*/
/*}*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: calc(100vh - 70px);;
    flex-basis: 100vw;
    background-color: purple;
    padding: 40px;
}

/*.introduction-text {*/
/*    text-align: center;*/
/*}*/
