.container {
    composes: container from "../../constants/Constants.module.css";
}

.form-container-user {
    composes: form-container-user from "../../constants/Constants.user.registration.module.css";
}

.align-button {
    composes: align-button from "../../constants/Constants.button.module.css";
}

.navigation-register-help {
    composes: navigation-register-help from "../../constants/Constants.user.registration.module.css";
}

.error {
    composes: error from "../../constants/Constants.erros.module.css";
    margin-left: -5px;
}