.display-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1040px;
    margin: 30px;
}

.error {
    composes: error from "../../constants/Constants.erros.module.css";
}