.input-field {
    height: 30px;
    margin: 10px 0 10px 0;
    width: 200px;
    padding-left: 5px;
}

.input-label {
    font-size: 15px;
    width: 150px;
    display:inline-block;
}

.input-label-field-combination {
    margin: 10px;
}