* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Verdana", Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: hsl(38, 33%, 95%);
    color: hsl(351, 16%, 18%);
}

h1 {
    margin: 10px;
    font-size: 40px;
}

h2 {
    margin: 15px;
}

p {
    font-size: 15px;
}


