.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction-text {
    text-align: center;
}

.introduction-text p {
    font-weight: bold;
    margin: 40px;
}

h1 {
    font-size: 30px;
    margin-top: 50px
}

h4 {
    margin: 30px;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 40px;
    }

    .enjoy {
        font-size: 30px;
    }
}